* {
    margin: 0;
    padding: 0;
}
.body {
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.main {
    height: 100%;
}

.frame-website {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#previous,#next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: auto 0;
    z-index: 1;
    cursor: pointer;
    background-color: #222;
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 50%;
}

#previous {
    left: 1em;
}

#next {
    right: 1em;
}


@keyframes next-off {
    0% {
        scale: 1;
        left: 100%;
    }    

    30% {
        scale: 0.7;
        left: 100%;
    }

    70% {
        left: 0;
    }

    100% {
        scale: 1;
        left: 0;
    }
}

@keyframes next-on {
    0% {
        scale: 1;
    }    

    30% {
        scale: 0.7;
        left: 0;
    }

    70% {
        left: -100%;
    }

    100% {
        scale: 1;
        left: -100%;
    }
}

@keyframes previous-on {
    0% {
        scale: 1;
    }    

    30% {
        scale: 0.7;
        left: 0;
    }

    70% {
        left: 100%;
    }

    100% {
        scale: 1;
        left: 100%;
    }
}

@keyframes previous-off {
    0% {
        scale: 1;
        left: -100%;
    }    

    30% {
        scale: 0.7;
        left: -100%;
    }

    70% {
        left: 0;
    }

    100% {
        scale: 1;
        left: 0;
    }
}
