$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black-transparent: hsla(0, 0%, 0%, 0.75);
$dark-grayish-blue-transparent: hsla(219, 9%, 45%, 0.3);

$mobile-gap: 1em;
$desktop-gap: 1em;
$button-border-radius: 7px;
$button-height: 45px;

:root {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $white;
}
* {
    margin: 0;
    padding: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: $black-transparent;
    display: none;
}

body {
    position: relative;
}
.active {
    outline: 3px solid $orange;
    position: relative;
    background-color: #FFF;
}
.active > .thumbnail {
    filter: opacity(0.5);
}
header {
    position: relative;
}

header {
    .cart-button-container {
        margin-left: auto;
        position: relative;
        cursor: pointer;
    }
    .cart-button-container > span {
        display: none;
        border-radius: 30%;
        font-size: 0.65rem;
        font-weight: 700;
        padding: 0.1em 0.5em;
        background-color: $orange;
        color: #FFF;
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        pointer-events: none;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
        align-items: center;
        height: 60px;
        gap: $mobile-gap;
        padding: 0 $mobile-gap;
        position: sticky;
        background-color: $white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        z-index: 2;
    }
    .mobile-nav {
        .avatar {
            height: 50%;
            cursor: pointer;
        }

        #float-button {
            cursor: pointer;
        }
    }
    #cart-window {
        position: absolute;
        top: calc(100% + 5px);
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 2;
        background-color: #FFF;
        filter: drop-shadow(0em 1.5em 1.5em $dark-grayish-blue-transparent);
        border-radius: 10px;
        display: none;
    }
    #cart-window {
        .cart-title {
            font-weight: 700;
            padding: 1em;
            border-bottom: 1px solid $dark-grayish-blue-transparent;
        }
        .cart-product-title-container {
            padding: 1em;
            gap: $mobile-gap;
            display: flex;
            flex-direction: row;
            height: 50px;
            justify-content: space-between;
            align-items: center;
            color: $dark-grayish-blue;
        }
        .cart-product-image {
            height: 100%;
            border-radius: 5px;
        }
        #cart-full {
            display: flex;
            flex-direction: column;
        }
        #cart-empty {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1em;
            padding-top: 2em;
            margin: auto auto;
            text-align: center;
        }
        .checkout-button {
            margin-top: 0.5rem;
            padding: 0.8em 0;
            background-color: $orange;
            border-radius: $button-border-radius;
            border: none;
            font-weight: 700;
            font-size: 1rem;
            color: $white;
            margin: 0 1em;
            margin-bottom: 1em;
            cursor: pointer;
        }
        #delete {
            cursor: pointer;
        }
        #cart-product-total {
            font-weight: 700;
            color: #000;
        }
    }
    .avatar:hover {
        outline: 2px solid $orange;
        border-radius: 50%;
        cursor: pointer;
    }
}
#mobile-float-menu {
    background-color: $white;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    bottom: 0;
    z-index: 4;
    overflow: hidden;
    display:none;
}
#mobile-float-menu {
    #float-close {
        cursor: pointer;
        margin-top: 22px;
        margin-left: $mobile-gap;
        margin-bottom: $mobile-gap;
    }
    .float-buttons {
        list-style-type: none;
        margin-top: $mobile-gap;
        margin-left: $mobile-gap;
    }
    .float-button {
        margin: $mobile-gap 0;
        font-weight: 700;
    }
}
.desktop-image-container {
    display: none;
}
.mobile-image-container {
    position: relative;
    z-index: 1;
}
.mobile-image-container {
    #mobile-image {
        width: 100%;
    }
    #previous,#next {
        position: absolute;
        margin: auto 0;
        top: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
    }
    #previous {
        left: $mobile-gap;
    }
    #next {
        right: $mobile-gap;
    }
}

.text-container {
    padding: $mobile-gap;
    padding-bottom: 45px;
}

.text-container {
    * {
        margin: 1rem 0;
    }    
    .company-name {
        color: $orange;
        text-transform: uppercase;
        font-size: 1.1rem;
    }
    .product-name {
        font-size: 2.2rem;
    }
    .product-description {
        color: $black-transparent;
        line-height: 1.5rem;
    }
    .price-container {
        display: flex;
        align-items: center;
    }
    .price-container {
        .price {
            font-weight: 700;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
        .discount {
            margin-left: 1.2rem;
            font-size: 1rem;
            color: $orange;
            background-color: $pale-orange;
            padding: 0.2em;
            border-radius: 5px;
        }
        .previous-price {
            margin-left: auto;
            font-weight: 700;
            color: $black-transparent;
            text-decoration: line-through;
            opacity: 0.7;
        }
    }
    .cart-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .cart-buttons {
        #add-to-cart {
            img {
                filter: brightness(0) invert(1);
                height: 15px;
                margin-right: 12px;
            }
        }
        #add-to-cart {
            margin-top: 0.5rem;
            grid-column: span 3;
            background-color: $orange;
            border-radius: $button-border-radius;
            font-weight: 700;
            font-size: 1rem;
            color: $white;
            filter: drop-shadow($pale-orange 0 15px 5px)
        }
        #cart-value {
            height: $button-height;
            line-height: $button-height;
            text-align: center;
            font-weight: 700;
            background-color: $light-grayish-blue;
        }
        #increase {
            border-top-right-radius: $button-border-radius;
            border-bottom-right-radius: $button-border-radius;
        }
        #decrease {
            border-top-left-radius: $button-border-radius;
            border-bottom-left-radius: $button-border-radius;
        }
        button {
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: $light-grayish-blue;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1000px) {
    body {
      height: 100vh;
      min-height: 500px;
    }
    header {
        .mobile-nav {
            display: none;
        }
        .desktop-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $desktop-gap;
            width: 70%;
            height: 100px;
            margin: 0 auto;
            border-bottom: 1px solid hsla(219, 9%, 45%, 0.3);
        }

        #cart-window {
            right: 15%;
            left: auto;
            max-width: 350px;
        }

        .desktop-nav {
            .nav-buttons {
                display: flex;
                justify-content: space-evenly;
                gap: $desktop-gap;
                list-style-type: none;
                height: 100%;
            }
            .nav-button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .nav-button:hover {
                margin-top: 2px;
                border-bottom: 2px solid $orange;
            }
            .avatar {
                height: 60%;
            }
        }

    }
    main {
        display: flex;
        gap: 4em;
        justify-content: center;
        align-items: center;
        height: calc(100% - 101px);
        width: 60%;
        margin: 0 auto;
    }
    main {
        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mobile-image-container {
            display: none;
        }
        .desktop-image-container {
            display: block;
            flex-basis: 1fr;
        }
        #menu-desktop-image-container {
            display: none;
            position: absolute;
            width: 40%;
            max-width: 500px;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            margin: auto auto;
            z-index: 3;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #menu-desktop-image-container {
            .menu-thumbnails-container {
                width: 90%;
            }
            .menu-image-container {
                position: relative;
            }
            #menu-exit {
                margin-left: auto;
                margin-bottom: 1em;
                filter: brightness(0) invert(1);
                scale: 1.5;
                cursor: pointer;
            }
            #menu-previous, #menu-next {
                position: absolute;
                margin: auto 0;
                top: 0;
                bottom: 0;
                width: 10px;
                height: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em;
                background-color: $white;
                border-radius: 50%;
                cursor: pointer;
            }

            #menu-previous {
                left: calc( -5px + -1em);
            }
            #menu-next {
                right: calc( -5px + -1em);
            }
        }
        .main-image {
            border-radius: 0.5em;
            width: 100%;
            margin-bottom: 1em;
            cursor: pointer;
        }
        .thumbnails-container {
            display: flex;
            justify-content: space-between;
            gap: 1em;
            align-items: center;
        }
        .thumbnail {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .thumbnail:hover {
            filter: opacity(0.5);
        }
        .thumbnail-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5em;
            overflow: hidden;
        }
        .text-container {
            flex-basis: 1fr;
        }
        .text-container {
            .company-name {
                font-size: 1rem;
            }
            .price-container {
                display: block;
            }
            .cart-buttons {
                display: flex;
            }
            .cart-buttons {
                #add-to-cart {
                    width: 60%;
                    margin-left: 0.5em;
                    margin-top: auto;
                }
                #increase,#decrease,#cart-value {
                    width: 16%;
                }
            }
        }
    }
    @media screen and (max-height: 650px) {
        #menu-desktop-image-container {
            position: fixed;
            top: 0;
            bottom: -100%;
        }
    }
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

@media screen and (max-height: 750px) {
    main {
        height: auto;
        padding-top: 2em;
        max-width: 1440px;
    }
    #menu-desktop-image-container {
        margin-top: 6em!important;
    }
}